:root {
    --white-main: #FFFFFF;
    --gray: #C0C0C0;
    --blue-botton: #167BF7;
    --background: #00030C;
    --font-main: 'Inter';
    --blue-botton-efect: #3c92fa;
}

body {
    background-color: var(--background);
    color: var(--white-main);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-title {
    font-size: 28px;
    font-weight: 700;
}

.container-img {
    margin: 1em 0 2em 0;
}

.container-botton {
    background-color: var(--blue-botton);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-main);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container-botton:hover{
    background-color: var(--blue-botton-efect);
    color: #00030C;
}

.botao-secundario {
    background-color: transparent;
    border: 2px solid var(--white-main)
}

.container-aviso {
    font-size: 12px;
    color: var(--gray);
}

/*=============== segunda parte*/

.container-box {
    margin: 0 6em;
}

.secundario-img {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao-titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--white-main);
    margin-bottom: 0.1em;
}

.container-descricao{
    padding: 2em;
}

.descricao-texto {
    color: var(--gray);
}

.secundario-botton {
    display: inline-block;
    margin-top: 1em;
}

/*============ terceira parte*/

.dispositivos{
    text-align: center;
}

.dispositivos-lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.dispositivos-titulo{
    font-size: 48px;
    color: var(--white-main);
}

.lista-item{
    font-size: 32px;
    color: var(--white-main);
}

/*========== footer*/

.rodape{
    text-align: center;
    margin: 5em 3em;
    border: 1px solid white;
}


.rodape-lista{
    display: flex;
    justify-content: center;
    margin-top: 1em;

    list-style-type: none;
}

.lista-link a{
    color: var(--gray);
    text-decoration: none;
    margin-left: 1em;
}

.lista-link a:hover{
    color: var(--blue-botton);
}

.rodape-texto{
    margin: 1em 0 ;
    color: var(--gray);
    font-size: 14px;
}

@media screen and (max-width: 1180px) {

    .principal, .container, .dispositivos, .dispositivos-lista, .rodape, .rodape-lista{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10% 0;
        height: 100%;
    }

    .rodape-logo{
        width: 60%;
        margin: 2em auto;
    }

    .container-box{
        margin: 0;
    }
}